.image {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 200px;
}

.text {
    font-weight: 600;
}

.card {
    /* display: flex;
    flex-direction: column;
    gap: 30px; */
    width: 300px;
    box-shadow: 0px 4px 10px #c6c6c6ad;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
}